<div class='category-name closed' data-controller='toggle-categories' data-action="click->toggle-categories#toggle"
     data-toggle-categories-id="<%= category.id %>"
     data-toggle-categories-has-children="<%= category.sub_categories.any? %>"
  ><%= category.name %>
</div>
<div class='list-item__actions'>
  <%= button_to 'Delete', category_path(category), method: :delete, class: 'btn' %>
  <%= link_to 'Edit', edit_category_path(category), class: 'btn btn--light' %>
</div>