<%= form_with model: category do |f| %>
  <% if category.errors.any? %>
    <div id="error-explanation">
      <h3><%= pluralize(category.errors.count, 'error') %> detected:</h3>
      <ul>
        <% category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name %>
  </div>

  <% if parent_categories.any? %>
    <div class="form-item">
      <%= f.label :parent_id, 'Parent category', class: 'form-label' %>
      <%= f.select :parent_id, parent_categories, include_blank: '-- root category --' %>
    </div>
  <% end %>

  <div class="form-item">
    <%= f.submit submit_text, class: 'btn btn--light' %>
  </div>
<% end %>
