<%= form_with model: expense do |f| %>
  <% if expense.errors.any? %>
    <div id="error-explanation">
      <h3><%= pluralize(expense.errors.count, 'error') %> detected:</h3>
      <ul>
        <% expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    TODO: Categories go here
  </div>

  <div>
    <%= f.submit 'Add' %>
  </div>
<% end %>
