<%= form_with model: expense do |f| %>
  <% if expense.errors.any? %>
    <div id="error-explanation">
      <h3><%= pluralize(expense.errors.count, 'error') %> detected:</h3>
      <ul>
        <% expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <label>Category</label>
    <div id="expense_category" class="category-wrapper" data-controller="load-sub-categories">
      <div class="category-wrapper--parent">
        <%= f.collection_radio_buttons :category_id, parent_categories, :id, :name do |b| %>
          <%= b.label(class: 'btn btn--primary custom-radio-btn') { b.radio_button(
            data: { action: 'change->load-sub-categories#load' }
          ) + b.text } %>
        <% end %>
      </div>
      <div id="sub-category" class="category-wrapper--child">
        <% parent_categories.each do |parent| %>
          <% if parent.sub_categories.present? %>
            <div id="sub-cat-<%= parent.id %>" class="hidden sub-cat-group">
              <%= f.collection_radio_buttons :category_id, parent.sub_categories, :id, :name, include_hidden: false do |sub_b| %>
                  <%= sub_b.label(class: 'btn btn--primary custom-radio-btn') { sub_b.radio_button + sub_b.text } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <%= f.submit 'Add' %>
  </div>
<% end %>
