<% hidden_class = expense.category_id %>

<%= form_with model: expense do |f| %>
  <%= turbo_frame_tag 'expenses-form-errors' %>

  <div class="form-item">
    <%= f.label :date, class: 'form-label' %>
    <%= f.date_field :date %>
  </div>

  <div class="form-item">
    <%= f.label :amount, class: 'form-label' %>
    <%= f.number_field :amount %>
  </div>

  <div class="form-item">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_field :description %>
  </div>

  <div class="form-item">
    <label class="group-label">Category</label>
    <div id="expense_category" class="category-wrapper" data-controller="load-sub-categories">
      <div class="category-wrapper--parent">
        <%= f.collection_radio_buttons :category_id, parent_categories, :id, :name do |b| %>
          <% button_class = expense.category_id && b.object.sub_categories.pluck(:id).include?(expense.category_id) ? 'btn--light' : 'btn--primary' %>

          <%= b.label(class: "btn #{button_class} custom-radio-btn") { b.radio_button(
            data: { action: 'change->load-sub-categories#load' }
          ) + b.text } %>
        <% end %>
      </div>
      <div id="sub-category" class="category-wrapper--child">
        <% parent_categories.each do |parent| %>
          <% if parent.sub_categories.present? %>
            <% hidden_class = expense.category_id && parent.sub_categories.pluck(:id).include?(expense.category_id) ? '' : 'hidden' %>

            <div id="sub-cat-<%= parent.id %>" class="<%= hidden_class %> sub-cat-group">
              <%= f.collection_radio_buttons :category_id, parent.sub_categories, :id, :name, include_hidden: false do |sub_b| %>
                  <%= sub_b.label(class: 'btn btn--primary custom-radio-btn') { sub_b.radio_button + sub_b.text } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-item">
    <label class="group-label">Areas</label>
    <div class="area-group">
      <%= f.collection_check_boxes :area_ids, areas, :id, :name, { multiple: true } do |b| %>
        <%= b.label(class: 'btn custom-check-box') { b.check_box + b.text } %>
      <% end %>
    </div>
  </div>

  <div class="form-item">
    <%= f.submit submit_text, class: 'btn btn--light' %>
  </div>
<% end %>
