<%= link_to sanitize('&larr; Back to expenses'), expenses_path %>

<div class='header'>
  <h1><%= @expense.description %></h1>
  <%= link_to 'Edit expense', edit_expense_path(@expense), class: 'btn btn--primary' %>
</div>

<div>
  <p><strong>Amount:</strong> <%= @expense.amount %>€</p>
  <p><strong>Date:</strong> <%= @expense.date %></p>
  <p><strong>Category:</strong> <%= @expense.category.name %></p>
  <p><strong>Areas:</strong>
    <%= @expense.areas.map { |area| area.name }.join(', ') %>
  </p>
</div>

