<div class='header'>
  <h1><%= @heading %></h1>
  <% unless @period == 'year' %>
    <div class='controls'>
      <%= form_with url: stats_path, method: :get do |f| %>
        <% if @period == 'day' %>
          <%= f.label :month %>
          <%= f.select :month, (1..12).map { |month| [Date::MONTHNAMES[month], month] }, selected: @date.month %>
        <% end %>

        <%= f.label :year %>
        <%= f.select :year, (@oldest_date.year..@newest_date.year).to_a, selected: @date.year %>

        <%= f.hidden_field :period, value: @period %>

        <%= f.submit "Submit" %>
      <% end %>
    </div>
  <% end %>
  <div class='stats-filter'>
    <%= link_to 'month', stats_path(period: 'day'), class: "btn btn--light #{'active' if @period == 'day'}" %>
    <%= link_to 'year', stats_path(period: 'month'), class: "btn btn--light #{'active' if @period == 'month'}" %>
    <%= link_to 'max', stats_path(period: 'year'), class: "btn btn--light #{'active' if @period == 'year'}" %>
  </div>
</div>
