<div class='header'>
  <h1><%= @heading %></h1>
  <div class='stats-filter'>
    <%= link_to 'month', stats_path(period: 'month'), class: "btn btn--light #{'active' if @filter == 'month'}" %>
    <%= link_to 'year', stats_path(period: 'year'), class: "btn btn--light #{'active' if @filter == 'year'}" %>
    <%= link_to 'max', stats_path(period: 'max'), class: "btn btn--light #{'active' if @filter == 'max'}" %>
  </div>
</div>

<div class='stats'>
  <div class='chart'>
    <div class='totals'>
      <% if @filter == 'month' %>
        <%= column_chart @data, suffix: " €", round: 2, zeros: true %>
      <% else %>
        <%= line_chart @data, curve: false, suffix: " €", round: 2, zeros: true %>
      <% end %>
    </div>
    <div class='categories'>
      <h2>Categories</h2>
      <div class='charts'>
        <%= pie_chart @parent_category_data %>
        <%= pie_chart @sub_category_data %>
      </div>
    </div>
    <div class='areas'>
      <h2>Areas</h2>
      <%= pie_chart @areas_data %>
    </div>
  </div>
  <aside class='aside'>
    TOTAL: <%= @total %> €
  </aside>
</div>
