<div class='header'>
  <h1><%= @heading %></h1>
  <% unless @filter == 'max' %>
    <div class='controls'>
      <%= form_with url: stats_path, method: :get do |f| %>
        <% if @filter == 'month' %>
          <%= f.label :month %>
          <%= f.select :month, (1..12).map { |month| [Date::MONTHNAMES[month], month] }, selected: @date.month %>
        <% end %>

        <%= f.label :year %>
        <%= f.select :year, (@oldest_date.year..@newest_date.year).to_a, selected: @date.year %>

        <%= f.hidden_field :period, value: @filter %>

        <%= f.submit "Submit" %>
      <% end %>
    </div>
  <% end %>
  <div class='stats-filter'>
    <%= link_to 'month', stats_path(period: 'month'), class: "btn btn--light #{'active' if @filter == 'month'}" %>
    <%= link_to 'year', stats_path(period: 'year'), class: "btn btn--light #{'active' if @filter == 'year'}" %>
    <%= link_to 'max', stats_path(period: 'max'), class: "btn btn--light #{'active' if @filter == 'max'}" %>
  </div>
</div>

<div class='stats'>
  <div class='chart'>
    <div class='totals'>
      <% if @filter == 'month' %>
        <%= column_chart @data, suffix: " €", round: 2, zeros: true %>
      <% else %>
        <%= line_chart @data, curve: false, suffix: " €", round: 2, zeros: true %>
      <% end %>
    </div>
    <div class='categories'>
      <h2>Categories</h2>
      <div class='charts'>
        <%= pie_chart @parent_category_data, suffix: " €", round: 2, zeros: true %>
        <%= pie_chart @sub_category_data, suffix: " €", round: 2, zeros: true %>
      </div>
    </div>
    <div class='areas'>
      <h2>Areas</h2>
      <%= pie_chart @areas_data, suffix: " €", round: 2, zeros: true %>
    </div>
  </div>
  <aside class='aside'>
    <h3>TOTAL</h3>
    <p><strong><%= @total %> €</strong></p>
    <h3>TOTAL AVERAGE</h3>
    <p><strong><%= @total_average %> <%= @time_period %></strong></p>
    <div>
      <h3>Category averages</h3>
      <% @parent_category_data.each do |sub_cat, sum| %>
        <p><strong><%= "#{sub_cat}:" %></strong> <%= "#{format("%.2f", (sum/@average_divider).round(2))} #{@time_period}" %></p>
      <% end %>
    </div>
    <div>
      <h3>Sub-category averages</h3>
      <% @sub_category_data.each do |sub_cat, sum| %>
        <p><strong><%= "#{sub_cat}:" %></strong> <%= "#{format("%.2f", (sum/@average_divider).round(2))} #{@time_period}" %></p>
      <% end %>
    </div>
    <div>
      <h3>Area averages</h3>
      <% @areas_data.each do |area, sum| %>
        <p><strong><%= "#{area}:" %></strong> <%= "#{format("%.2f", (sum/@average_divider).round(2))} #{@time_period}" %></p>
      <% end %>
    </div>
  </aside>
</div>
