<div class='header'>
  <h1><%= @heading %></h1>
  <% unless @filter == 'max' %>
    <div class='controls'>
      <%= form_with url: stats_path, method: :get do |f| %>
        <% if @filter == 'month' %>
          <%= f.label :month %>
          <%= f.select :month, (1..12).map { |month| [Date::MONTHNAMES[month], month] }, selected: @date.month %>
        <% end %>

        <%= f.label :year %>
        <%= f.select :year, (2019..2023).to_a, selected: @date.year %>

        <%= f.hidden_field :period, value: @filter %>

        <%= f.submit "Submit" %>
      <% end %>
    </div>
  <% end %>
  <div class='stats-filter'>
    <%= link_to 'month', stats_path(period: 'month'), class: "btn btn--light #{'active' if @filter == 'month'}" %>
    <%= link_to 'year', stats_path(period: 'year'), class: "btn btn--light #{'active' if @filter == 'year'}" %>
    <%= link_to 'max', stats_path(period: 'max'), class: "btn btn--light #{'active' if @filter == 'max'}" %>
  </div>
</div>

<div class='stats'>
  <div class='chart'>
    <div class='totals'>
      <% if @filter == 'month' %>
        <%= column_chart @data, suffix: " €", round: 2, zeros: true %>
      <% else %>
        <%= line_chart @data, curve: false, suffix: " €", round: 2, zeros: true %>
      <% end %>
    </div>
    <div class='categories'>
      <h2>Categories</h2>
      <div class='charts'>
        <%= pie_chart @parent_category_data %>
        <%= pie_chart @sub_category_data %>
      </div>
    </div>
    <div class='areas'>
      <h2>Areas</h2>
      <%= pie_chart @areas_data %>
    </div>
  </div>
  <aside class='aside'>
    <p>TOTAL: <%= @total %> €</p>
    <p>AVERAGE: <%= @total_average %> <%= @time_period %></p>
  </aside>
</div>
