<div class='header'>
  <h1><%= @heading %></h1>
  <div>
    <%= link_to 'month', stats_path(period: 'month'), class: 'btn btn--light' %>
    <%= link_to 'year', stats_path(period: 'year'), class: 'btn btn--light' %>
    <%= link_to 'max', stats_path(period: 'max'), class: 'btn btn--light' %>
  </div>
</div>

<div class='stats'>
  <div class='chart'>
    <div class='totals'>
      <% if @filter == 'month' %>
        <%= column_chart @data, suffix: " €", round: 2, zeros: true %>
      <% else %>
        <%= line_chart @data, curve: false, suffix: " €", round: 2, zeros: true %>
      <% end %>
    </div>
    <div class='groups'>
      <%= pie_chart @category_data %>
      <%= pie_chart @areas_data %>
    </div>
  </div>
  <aside class='aside'>
    TOTAL: <%= @total %> €
  </aside>
</div>
